* {
    border-radius: 10px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#calculator-body {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 350px;
    padding: 15px;
    background-color: black;
}

#display {
    /* border: 2px solid black; */
    height: 125px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-right: 15px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: xx-large;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
}

.button, .number-button {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: #505050;
    font-size: xx-large;

}

#divide, #multiply, #add, #subtract {
    width: 90px;
    margin-left: 5px;
}

.operator {
    background-color: rgb(214, 164, 0);
    font-size: xx-large;
}

#ac-button {
    width: 110px;
    margin-right: 195px;
}